<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
  <div class="parallax"></div>
  <header >
    <div id="page-logo">
      <a href="/">WHO'S IN</a>
    </div>
    <section id="hero-content">
      <h3>The Vision</h3>
      <p>Creating a global community where innovation and teamwork fuel success.</p>
    </div>
  </section>
  
  </header>
  
  <footer>
    <ul>
      <li>
        <a href="https://www.instagram.com">
          <img src="/images/instalogo.webp" alt="Instagram logo" />
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com">
          <img src="/images/facebooklogo.webp" alt="Facebook logo" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com">
          <img src="/images/LINKEDIN.png"alt="Facebook logo" />
        </a>
      </li>
    </ul>
  </footer> 
</body>

</html>

