<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="shared.css" />
    <link rel="stylesheet" href="projects.css" />
    
    <title>Who's in</title>
  </head>
  <body>
    <header>
      <div id="page-logo">
        <a href="/">Who's In</a>
      </div>
      <nav>
        <ul>
          <li><a href="/login">Create Project</a></li>
          <li><a href="/about">About</a></li>
          <li> <a href="/login" class="login-link">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <ul>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="/explore">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg"alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href=""> Explore &#x2192; </a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
        <li>
          <img src="/images/Person.jpg" alt="Person" />
          <div class="item-content">
            <div>
              <h2>Project Name</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                vitae incidunt eos atque dicta natus quam accusantium placeat.
              </p>
            </div>
            <div class="actions">
              <a href="">Explore &#x2192;</a>
            </div>
          </div>
        </li>
      </ul>
    </main>
    <footer>
      <ul>
        <li>
          <a href="https://www.instagram.com">
            <img src="/images/instalogo.webp" alt="Instagram logo" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com">
            <img src="/images/facebooklogo.webp" alt="Facebook logo" />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com">
            <img src="/images/LINKEDIN.png" alt="Facebook logo" />
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
